# Byte-compiled
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
ENV/

# Environment Variables
.env

# Database
db.sqlite3

# Django
*.log
media/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# Build
build/
dist/
*.egg-info/

migrations/
# Migrations (optional)
# **/migrations/*.py
# !**/migrations/__init__.py